/* colors and fonts */

body{
	background-color: #F9F8F6;
	color: #454349;
	font-family: Garamond;
	font-size: 20px;
	font-weight: 700;
	}

h1,h2{color: black;
	font-family: nunito-sans;}

h1{
	font-size: 35px;
	font-weight:800 }
h2{
	font-size: 25px;
	font-weight: 600;}



.title {
  background-color: #f4efff; 
  border-radius: 14px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 0 auto 40px auto;
  padding: 40px; 
  text-align: center}

@media ( max-width: 500px) {
	.main-box{width: 400px }
}
@media ( max-width: 760px) {
	.main-box{width: 600px }
}
@media ( max-width: 460px) {
	.main-box{width: 360px }
}
.sub-box {
 background-color: #e0d4ff; 
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: 5px 15px;
  padding: 40px; 
  max-width: 500px;
  margin: 20px auto;
  text-align: center}

.accounts {background-color: #e0d4ff; 
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: 10px 30px;
  padding: 40px; 
  max-width: 500px;
  margin: 20px auto;
  text-align: center}

.btn {
  background-color: #ae8fed;
  color: black;
  text-decoration: none;
  padding: 12px 25px;
  border-radius: 8px;
  font-weight: 600;
  transition: background 0.3s;
}

.btn:hover {
  background-color: #6e37de;
}

 .title img {
  width: 150px;
  border-radius: 50%;
  margin-top: 10px;}


.accounts li { display:inline;}
.accounts i {
  font-size: 20px;
  text-align: center}
.accounts i:hover { font-size: 25px }
.accounts ul {
  padding: 0;
  margin: 0;
  text-align: center; 
}
#introduction p { margin-bottom:40px }